<div class="top_nav">
  <div class="nav_menu">
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li class="line-height-55">
            <%= render "notifications/notification_center", notifications: @notifications %>
          </li>
      </ul>
    </nav>
  </div>
</div>
